<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bar</title>
</head>
<body th:inline="text">
<!-- 头部开始 -->
<head th:fragment="commonHeader">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>实验室信息管理系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/css/_all-skins.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- 头部结束 -->

<!--顶部栏开始-->
<header class="main-header" th:fragment="topbar">
    <a href="#" class="logo">
        <span class="logo-mini"><b>DCS</b></span>
        <span class="logo-lg"><b>实验室信息管理系统</b></span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="user user-menu">
                    <a href="index">退出登录</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- 顶部栏结束 -->

<!-- 侧边栏开始 -->
<aside class="main-sidebar" th:fragment="sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/static/image/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>JetBamboo</p>
                <i class="fa fa-circle text-primary"></i>
                <small> 超级管理员</small>
            </div>
        </div>

        <!-- START: 菜单栏 -->
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a href="/server/tutorList" class="layout-side-item">
                    <i class="icon ion-ios-list" style="font-size: 16px;margin-right: 2px;"></i>
                    <span class="layout-side-item-label">导师管理</span>
                </a>
            </li>
            <li>
                <a href="/server/studentList" class="layout-side-item">
                    <i class="icon ion-person" style="font-size: 16px; margin-right: 2px;"></i>
                    <span class="layout-side-item-label">研究生管理</span>
                </a>
            </li>
            <li>
                <a href="/server/thesisList" class="layout-side-item">
                    <i class="icon ion-person" style="font-size: 16px; margin-right: 2px;"></i>
                    <span class="layout-side-item-label">成果管理</span>
                </a>
            </li>
            <li>
                <a href="/server/projectList" class="layout-side-item">
                    <i class="icon ion-person" style="font-size: 16px; margin-right: 2px;"></i>
                    <span class="layout-side-item-label">项目管理</span>
                </a>
            </li>
            <li>
                <a href="/server/activityList" class="layout-side-item">
                    <i class="icon ion-person" style="font-size: 16px; margin-right: 2px;"></i>
                    <span class="layout-side-item-label">活动管理</span>
                </a>
            </li>
            <li>
                <a href="/server/labList" class="layout-side-item">
                    <i class="icon ion-person" style="font-size: 16px; margin-right: 2px;"></i>
                    <span class="layout-side-item-label">实验室信息管理</span>
                </a>
            </li>
        </ul>
        <!-- END: 菜单栏 -->
    </section>
</aside>
<!-- 侧边栏结束 -->

<!-- footer开始 -->
<footer class="main-footer" th:fragment="footer">
    <div class="pull-right hidden-xs"><b>版本</b> 1.0.0</div>
    <strong>2019 &copy; 实验室信息系统</strong>
</footer>
<!-- footer结束 -->

</body>
</html>