<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csu.lab.mapper.LaboratoryMapper">
  <resultMap id="BaseResultMap" type="com.csu.lab.pojo.Laboratory">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="lid" jdbcType="INTEGER" property="lid" />
    <result column="res_direction" jdbcType="VARCHAR" property="resDirection" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
</mapper>