<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>导师列表</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css} ">
    <link rel="stylesheet" th:href="@{/css/csu-style.css}">

    <!--乱删了一堆东西，只保留了pagination的相关内容-->
    <link th:href="@{/css/my-bootstrap.min.css}" rel="stylesheet"/>
</head>

<body class="csu-iframe-body">
<fieldset class="layui-elem-field" id="introduction">
    <legend class="csu-color-theme"><b>导师列表</b></legend>
    <div class="layui-field-box">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-lg2 layui-col-sm3 layui-col-xs6" th:each="tutor:${pageInfo.list}">
                <a th:href="@{${'/client/tutor/tutor'}(id=${tutor.rid})}">
                    <div class="csu-card csu-card-hover">
                        <img class="csu-card-img" th:src="${tutor.image}">
                        <div class="csu-card-name" th:text="${tutor.name}">肖途</div>
                        <div class="csu-card-post" th:text="${tutor.post}">胡峰</div>
                        <div class="csu-card-type" th:text="${tutor.direction}">中共地下党</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</fieldset>

<div class="ibox-footer" align="center">

    <ul class="pagination">
        <li>
            <a th:if="${not isFirstPage}"
               th:href="@{${'tutorList'}(pageNum=${pageNum-1},pageSize=${pageSize})}"
               aria-label="Previous">
                <span aria-hidden="true">上一页</span>
            </a>
            <a th:if="${isFirstPage}" href="javascript:void(0);" aria-label="Previous">
                <span aria-hidden="true">上一页</span>
            </a>
        </li>

        <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
            <a th:if="${pageNum eq pageNo}" href="javascript:void(0);">
                <span th:text="${pageNo}"></span>
            </a>

            <a th:if="${not (pageNum eq pageNo)}"
               th:href="@{${'tutorList'}(pageNum=${pageNo},pageSize=${pageSize})}">
                <span th:text="${pageNo}"></span>
            </a>
        </li>

        <li>
            <a th:if="${not isLastPage}"
               th:href="@{${'tutorList'}(pageNum=${pageNum+1},pageSize=${pageSize})}"
               aria-label="Next">
                <span aria-hidden="true">下一页</span>
            </a>
            <a th:if="${isLastPage}" href="javascript:void(0);" aria-label="Next">
                <span aria-hidden="true">下一页</span>
            </a>
        </li>
    </ul>
</div>

<!--这是layui的脚本-->
<script th:src="@{/layui/layui.js}"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script th:src="@{/js/layui/html5.min.js}"></script>
<script th:src="@{/js/layui/respond.min.js}"></script>
<![endif]-->

<!--这是iframeResizer的脚本-->
<script th:src="@{/js/iframe-resizer/iframeResizer.contentWindow.min.js}"></script>

<!--这是自己设定的一些脚本(原始勿动)-->
<!--<script th:inline="javascript">
    var totalPages = [[${totalPages}]];
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'csu-page'
            , count: totalPages*6
            , limit: 6
            // ,curr:2
            , jump: function (obj, first) {
                //obj包含了当前分页的所有参数，比如：
                console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                console.log(obj.limit); //得到每页显示的条数

                //首次不执行
                if (!first) {
                    //do something
                }
            }
        });
    });
</script>-->

<!--这是自己设定的一些脚本（加分页功能）-->
<script th:inline="javascript">
    var totalPages = [[${totalPages}]];
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'csu-page'
            , count: totalPages*6
            , limit: 6
            , curr: location.hash.replace('#!fenye=', '') //获取起始页
            , hash: 'fenye' //自定义hash值
            , jump: function (obj, first) {
                //obj包含了当前分页的所有参数，比如：
                console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                console.log(obj.limit); //得到每页显示的条数

                //首次不执行
                if (!first) {
                    //do something
                }
            }
        });
    });
</script>

</body>

</html>