<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>导师列表</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/csu-style.css}">
</head>

<body class="csu-iframe-body">

<!--顶端信息条-->
<div class="csu-content-top">
    <nav frameborder="0" scrolling="no" name="csu-content-iframe" id="csu-content-iframe-top" class="navbar-default navbar-static-side" role="top" th:include="client/top :: top"></nav>
</div>

<fieldset class="layui-elem-field" id="introduction">
    <legend class="csu-color-theme"><b>导师列表</b></legend>
    <div class="layui-field-box">

        <div class="layui-row layui-col-space15">

            <div class="layui-col-lg2 layui-col-sm3 layui-col-xs6" th:each="researcher:${pageInfo.list}">
                <!--只给第一个card添加了a href跳转链接用于测试，其它的card同样按这个来-->
                <a href="tutor.html">
                    <div class="csu-card csu-card-hover">
                        <img class="csu-card-img" src="../../static/img/test/photo.png">
                        <div class="csu-card-name" th:text="${researcher.name}">肖途</div>
                        <div class="csu-card-post" th:text="${researcher.post}">胡峰</div>
                        <div class="csu-card-type" th:text="${researcher.personType}">中共地下党</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</fieldset>

<div class="csu-page" id="csu-page"></div>

<!--底端信息条-->
<div class="csu-content-bottom">
    <nav frameborder="0" scrolling="no" name="csu-content-iframe" id="csu-content-iframe-bottom" class="navbar-default navbar-static-side" role="bottom" th:include="client/bottom :: bottom"></nav>
</div>

<!--这是layui的脚本-->
<script src="@{/layui/layui.js"}></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="@{/js/layui/html5.min.js"}></script>
<script src="@{/js/layui/respond.min.js"}></script>
<![endif]-->

<!--这是iframeResizer的脚本-->
<script src="@{/js/iframe-resizer/iframeResizer.min.js"}></script>
<script>
    iFrameResize({log: false});
</script>

<!--这是自己设定的一些脚本-->
<script>

    layui.use('element', function () {
        var element = layui.element;
        var $ = layui.$;

        //这个框架太坑了直接禁止掉layui-this
        $('li').click(function(){
            $(this).removeClass('layui-this');
        })
        $('dd').click(function(){
            $(this).removeClass('layui-this');
        })
    });

    layui.use('layer', function () {
        var layer = layui.layer;
        var $ = layui.$;
        var index;
        $(document).on('click', '#csu-catalog-button', function () {
            index = layer.open({
                type: 1
                , closeBtn: 0 //不显示关闭按钮
                , title: false
                // , anim: 2
                , shadeClose: true //开启遮罩关闭
                , id: "csu-float-nav"
                , content:
                "<ul class=\"layui-nav layui-nav-tree\" >\n" +
                "    <li class=\"layui-nav-item\"><a target=\"csu-content-iframe\" href=\"home.html\">主页</a></li>\n" +
                "    <li class=\"layui-nav-item\"><a target=\"csu-content-iframe\" href=\"introduction/index.html\">实验室概况</a></li>\n" +
                "    <li class=\"layui-nav-item\"><a target=\"csu-content-iframe\" href=\"tutor/index.html\">导师信息</a></li>\n" +
                "    <li class=\"layui-nav-item\"><a target=\"csu-content-iframe\" href=\"student/index.html\">学生信息</a></li>\n" +
                "    <li class=\"layui-nav-item\"><a target=\"csu-content-iframe\" href=\"thesis/index.html\">论文成果</a></li>\n" +
                "    <li class=\"layui-nav-item\"><a target=\"csu-content-iframe\" href=\"project/index.html\">项目成果</a></li>\n" +
                "    <li class=\"layui-nav-item\"><a target=\"csu-content-iframe\" href=\"activity/index.html\">实验室活动</a></li>\n" +
                "</ul>"
            });
        });
        $(document).on('click', '#csu-float-nav', function () {
            layer.close(index)
        });
    });

</script>

</body>

</html>