<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/csu-style.css}">
</head>

<body class="csu-iframe-body">

<fieldset class="layui-elem-field">
    <legend class="csu-color-theme" th:text="${tutor.name}"><b>肖途</b></legend>
    <div class="layui-field-box">

        <div class="layui-row layui-col-space15">

            <div class="layui-col-md2 layui-col-sm4 layui-col-space15">
                <div class="csu-card">
                    <img class="csu-card-img" th:src="${tutor.image}">
                    <div class="csu-card-post" th:text="${tutor.post}">胡峰</div>
                    <div class="csu-card-type" th:text="${tutor.direction}">中共地下党</div>
                </div>
            </div>

            <div class="layui-col-md10 layui-col-sm8 csu-detail">

                <fieldset class="layui-elem-field">
                    <legend class="csu-color-theme">导师简介</legend>
                    <div class="layui-field-box" th:text="${tutor.introduction}">
                        富文本区域
                    </div>
                </fieldset>

                <fieldset class="layui-elem-field">
                    <legend class="csu-color-theme">研究方向</legend>
                    <div class="layui-field-box" th:text="${tutor.direction}">
                        研究方向研究方向研究方向研究方向研究方向研究方向研究方向研究方向研究方向研究方向研究方向研究方向研究方向研究方向研究方向研究方向研究方向研究方向研究方向研究方向研究方向
                    </div>
                </fieldset>

                <!--如果有就显示-->
                <fieldset class="layui-elem-field">
                    <legend class="csu-color-theme">论文成果</legend>
                    <div class="layui-field-box">
                        <table class="layui-table csu-table" lay-skin="line">
                            <tbody>
                            <tr>
                                <td><a href="../thesis/thesis.html">测试是真的难</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:;">于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:;">测试是真的难</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:;">测试是真的难</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:;">测试是真的难</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>

                <!--如果有就显示-->
                <fieldset class="layui-elem-field">
                    <legend class="csu-color-theme">项目成果</legend>
                    <div class="layui-field-box">
                        <div class="layui-field-box">
                            <table class="layui-table csu-table" lay-skin="line">
                                <tbody>
                                <tr>
                                    <td><a href="../project/project.html">测试是真的难</a></td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:;">于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</a></td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:;">测试是真的难</a></td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:;">测试是真的难</a></td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:;">测试是真的难</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="layui-elem-field">
                    <legend class="csu-color-theme">学生信息</legend>
                    <div class="layui-field-box">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md3 layui-col-sm6 layui-col-xs6" th:each="student:${studentList}">
                                <a th:href="@{${'/client/student/student'}(id=${student.rid})}">
                                    <div class="csu-card csu-card-hover">
                                        <img class="csu-card-img" th:src="${student.image}">
                                        <div class="csu-card-name" th:text="${student.name}">庄晓曼</div>
                                        <div class="csu-card-post" th:text="${student.post}">飞鹰</div>
                                        <div class="csu-card-type" th:text="${student.direction}">军统特务</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </fieldset>

            </div>

        </div>

    </div>
</fieldset>

<!--这是layui的脚本-->
<script th:src="@{/layui/layui.js}"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script th:src="@{/js/layui/html5.min.js}"></script>
<script th:src="@{/js/layui/respond.min.js}"></script>
<![endif]-->

<!--这是iframeResizer的脚本-->
<script th:src="@{/js/iframe-resizer/iframeResizer.contentWindow.min.js}"></script>

</body>

</html>