<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css} ">
    <link rel="stylesheet" th:href="@{/css/csu-style.css}">
</head>

<body class="csu-iframe-body">

<fieldset class="layui-elem-field">
    <legend class="csu-color-theme"><b>论文成果</b></legend>
    <div class="layui-field-box">

        <table class="layui-table csu-table" lay-skin="line">
        <tbody th:each="thesis:${pageInfo.list}">
        <tr>
        <td><a th:href="@{${'thesis'}(id=${thesis.tid})}" th:text="${thesis.name}">论文名称</a></td>
        </tr>
        </tbody>
        </table>

    </div>
</fieldset>

<div class="csu-page" id="csu-page"></div>


<!--这是layui的脚本-->
<script th:src="@{/layui/layui.js}"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script th:src="@{/js/layui/html5.min.js}"></script>
<script th:src="@{/js/layui/respond.min.js}"></script>
<![endif]-->

<!--这是iframeResizer的脚本-->
<script th:src="@{/js/iframe-resizer/iframeResizer.contentWindow.min.js}"></script>

<!--<script >-->
<!--layui.use('laypage', function () {-->
<!--var laypage = layui.laypage;-->

<!--//执行一个laypage实例-->
<!--laypage.render({-->
<!--elem: 'csu-page'-->
<!--, count: 12//从model里取当前总数-->
<!--, limit: 4-->
<!--, curr: 1//从model里取当前page数-->
<!--, jump: function (obj, first) {-->
<!--// console.log([[${/client/thesis/thesisList?page=}]] + obj.curr);-->
<!--//首次不执行-->
<!--if (!first) {-->

<!--//obj.curr是目标页的index-->
<!--//打开目标页后controller往model里放入学生信息和page数count总数，以便curr，count参数获得-->
<!--// window.location.href = [[@{${/client/thesis/thesisList}(page=obj.curr)}]];-->
<!--}-->
<!--}-->
<!--});-->
<!--});-->
<!--</script>-->

</body>

</html>