<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CSU主页</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/csu-style.css">
</head>

<body class="csu-iframe-body">

<div class="layui-row">

    <div class="layui-col-md8 csu-activities-album">
        <div class="layui-carousel " id="csu-activities-carousel">
            <div carousel-item>
                <div><a href="javascript:;"><img src="../static/img/test/activity1.jpg"></a></div>
                <div><a href="javascript:;"><img src="../static/img/test/activity2.jpg"></a></div>
                <div><a href="javascript:;"><img src="../static/img/test/activity3.jpg"></a></div>
            </div>
        </div>
    </div>

    <div class="layui-col-md4">
        <table class="layui-table csu-table" id="csu-activities-table" lay-skin="line">
            <colgroup>
                <col>
                <col width="120">
            </colgroup>
            <thead>
            <tr class="layui-bg-black">
                <th>最新活动</th>
                <th><a class="csu-color-graylight" href="javascript:;">更多</a></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="javascript:;">测试是真的难</a></td>
                <td>2016-11-29</td>
            </tr>
            <tr>
                <td><a href="javascript:;">于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</a></td>
                <td>2016-11-28</td>
            </tr>
            <tr>
                <td><a href="javascript:;">测试是真的难</a></td>
                <td>2016-11-28</td>
            </tr>
            <tr>
                <td><a href="javascript:;">测试是真的难</a></td>
                <td>2016-11-28</td>
            </tr>
            <tr>
                <td><a href="javascript:;">测试是真的难</a></td>
                <td>2016-11-28</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="layui-row">
    <fieldset class="layui-elem-field">
        <legend class="csu-color-theme"><b>实验室简介</b></legend>
        <div class="layui-field-box">
            地球物理大地测量国家测绘地理信息局重点实验室前身是天文、重力实验室，由中国科学院首批学部委员夏坚白教授于1957年创建，1996年批准为国家测绘地理信息局部级重点实验室。实验室依托于武汉大学测绘学院的大地测量学与测量工程国家重点学科和固体地球物理学湖北省重点学科，具有大地测量学与测量工程、地球物理学两个一级学科博士学位授予点。实验室具有国际先进的导航定位、重力和地磁探测设备，建立了多个野外观测基地。已逐渐成为我国大地测量和固体地球物理等领域科学研究、学术交流及高层次人才培养的重要基地。

            实验室以研究地球重力场确定、大地测量地球物理反演、空间定位理论、方法与技术及其应用为目标，推进对地球系统运行规律的科学认识，为国家资源和环境政策、灾害对策、空间和国防技术的发展等提供科学依据和技术支撑。

            实验室在地球重力场理论与局部重力场精化、大地测量地球物理反演理论及应用、卫星大地测量技术及应用等方面取得了重大或重要的研究进展，部分成果达到国际领先水平，先后有30余项研究成果获得国家科技进步奖、省部级科技进步奖及自然科学奖，在国内外重要学术刊物上公开发表学术论文300余篇。

            实验室的主要研究方向为：（1）地球重力场理论、方法与应用，（2）大地测量地球物理反演理论、方法及应用，（3）地球内部物理与地球动力学，（4）空间大地测量理论、技术及应用，（5）地震波传播理论及应用。
        </div>
    </fieldset>
</div>

<!--这是layui的脚本-->
<script src="../static/layui/layui.js"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="../static/js/layui/html5.min.js"></script>
<script src="../static/js/layui/respond.min.js"></script>
<![endif]-->

<!--这是iframeResizer的脚本-->
<script src="../static/js/iframe-resizer/iframeResizer.contentWindow.min.js"></script>

<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#csu-activities-carousel'
            , width: '100%' //设置容器宽度
            , height: '360px'//设置容器高度
            , arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
</script>

</body>

</html>