<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>CSU学生管理系统</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/csu-style.css}">
</head>
<body>

<!--顶端信息条-->
<nav frameborder="0" scrolling="no" name="csu-content-iframe" id="csu-content-iframe-top" class="navbar-default navbar-static-side" role="top" th:include="client/top :: top"></nav>

<div class="csu-content">
    <nav frameborder="0" scrolling="no" name="csu-content-iframe" id="csu-content-iframe" class="navbar-default navbar-static-side" role="home" th:include="client/home :: home"></nav>
</div>

<!--底端信息条-->
<nav frameborder="0" scrolling="no" name="csu-content-iframe" id="csu-content-iframe-bottom" class="navbar-default navbar-static-side" role="bottom" th:include="client/bottom :: bottom"></nav>


</body>
</html>