<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>后台信息管理系统</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

    <!-- datetimepicker -->
    <link th:href="@{/css/bootstrap-datetimepicker.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen"/>

</head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="server/nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="server/header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>导师管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a>导师管理</a>
                    </li>
                    <li class="active">
                        <strong th:if="${researcher==null}">添加导师信息</strong>
                        <strong th:if="${researcher!=null}">修改导师信息</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 th:if="${researcher==null}">添加导师信息</h5>
                            <h5 th:if="${researcher!=null}">修改导师信息</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form th:action="@{/server/tutor/saveTutor}" id="formTag" method="POST"
                                  class="form-horizontal" enctype="multipart/form-data">

                                <input type="hidden" name="_method" value="put" th:if="${researcher!=null}">

                                <input type="hidden" name="rid" th:value="${researcher.rid}"
                                       th:if="${researcher!=null}">

                                <input type="hidden" name="personType" th:value="0" th:if="${researcher == null}">

                                <div class="form-group"><label class="col-sm-2 control-label">导师编号：</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="aid" name="aid" placeholder="导师编号"
                                               th:value="${researcher!=null}?${researcher.aid}">
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">姓名：</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="姓名"
                                               th:value="${researcher!=null}?${researcher.name}">
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">头像：</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="image" name="image" placeholder="头像"
                                               th:value="${researcher!=null}?${researcher.image}">
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">职称：</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="post" name="post">
                                            <option th:selected="${researcher!=null}?${researcher.post == '教授'}"
                                                    th:value="教授">教授
                                            </option>
                                            <option th:selected="${researcher!=null}?${researcher.post == '副教授'}"
                                                    th:value="副教授">副教授
                                            </option>
                                            <option th:selected="${researcher!=null}?${researcher.post == '讲师'}"
                                                    th:value="讲师">讲师
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>


                                <div class="form-group"><label class="col-sm-2 control-label">研究方向：</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="direction" name="direction"
                                               placeholder="研究方向"
                                               th:value="${researcher!=null}?${researcher.direction}">
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">简介：</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="introduction" name="introduction"
                                               placeholder="人员简介"
                                               th:value="${researcher!=null}?${researcher.introduction}">
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary"
                                                th:text="${researcher!=null}?'&nbsp;&nbsp;&nbsp;&nbsp;修&nbsp;&nbsp;&nbsp;&nbsp;改&nbsp;&nbsp;&nbsp;&nbsp;':'&nbsp;&nbsp;&nbsp;&nbsp;添&nbsp;&nbsp;&nbsp;&nbsp;加&nbsp;&nbsp;&nbsp;&nbsp;'">
                                            &nbsp;&nbsp;&nbsp;&nbsp;添&nbsp;&nbsp;&nbsp;&nbsp;加&nbsp;&nbsp;&nbsp;&nbsp;
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer" th:include="server/footer :: copyright"></div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- datepicker -->
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.js}"></script>
<script th:src="@{/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

<script th:inline="javascript">
    $("#minOrderTimeStr").datetimepicker({
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        todayHighlight: true,
        showMeridian: true,
        pickerPosition: "bottom-left",
        language: 'zh-CN',//中文，需要引用zh-CN.js包
        startView: 2,//月视图
        minView: 2//日期时间选择器所能够提供的最精确的时间选择视图
    });

    $("#maxOrderTimeStr").datetimepicker({
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        todayHighlight: true,
        showMeridian: true,
        pickerPosition: "bottom-left",
        language: 'zh-CN',//中文，需要引用zh-CN.js包
        startView: 2,//月视图
        minView: 2//日期时间选择器所能够提供的最精确的时间选择视图
    });
</script>

</body>

</html>
