<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css} ">
    <link rel="stylesheet" th:href="@{/css/csu-style.css}">
</head>
<body class="csu-iframe-body">
<fieldset class="layui-elem-field">
    <legend class="csu-color-theme" th:text="${activity.name}"><b>活动名称</b></legend>
    <div class="layui-field-box">

        <fieldset class="layui-elem-field layui-field-title">
            <legend th:text="${activity.time}">活动时间</legend>
        </fieldset>
        <div class="layui-col-md10 layui-col-sm6">
            <div class="csu-card-introduction" th:text="${activity.introduction}">
                富文本区域
            </div>
        </div>
    </div>

</fieldset>
<hr>

<!--这是layui的脚本-->
<script src="../../static/layui/layui.js"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="../../static/js/layui/html5.min.js"></script>
<script src="../../static/js/layui/respond.min.js"></script>
<![endif]-->

<!--这是iframeResizer的脚本-->
<script src="../../static/js/iframe-resizer/iframeResizer.contentWindow.min.js"></script>
</body>
</html>