table a {
    color: #009688;
}

fieldset {
    margin: 0;
}
fieldset a {
    color: #009688;
}
video{
    height:240px;
}

.csu-header {
    height: 120px;
    background-image: url(../img/header_background.png);
    background-position: right;
    background-repeat: no-repeat;
}

.csu-header img {
    height: 120px;
}

.csu-nav{
    padding:0 20px;
}

.csu-nav .layui-nav{
    padding:0;
}
.csu-content {
    text-align: center;
}

.csu-content iframe {
    width: 1px;
    min-width: 100%;
}

.csu-bottom {
    text-align: center;
    padding: 0px 20px;
    margin: 20px 0px;
}

.csu-bottom span {
    margin: 0px 5px;
}

.csu-catalog-button {
    height: 60px;
    width: 60px;
    background-size: contain;
    background-image: url(../img/catalog.jpg);
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
}

.csu-iframe-body {
    margin: 15px 150px;
}

.csu-login-main {
    width: 300px;
    margin: 0 auto;
    padding: 120px;
}

.csu-login-form-header {
    text-align: center;
    padding: 20px;
}

.csu-login-form-header h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: black;
}

.layui-form-item input, button {
    width: 100%;
}

.layui-form-item a {
    color: #009688;
}

.csu-login-bottom {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
}

.csu-activities-album {
    padding: 30px 15px;
}

.csu-table {
    table-layout: fixed;
    margin-bottom: 30px;
}

.csu-table th a:hover {
    color: white;
}

.csu-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.csu-color-theme {
    color: #009688;
}

.csu-color-graylight {
    color: #dddddd;
}

.csu-card {
    text-align: center;
    border: 1px solid #dddddd;
    background-color: #f2f2f2;
    border-radius: 5%;
    padding: 30px 15px;
}

.csu-card-img {
    width: 75%;
    margin-bottom: 30px;
    border-radius: 5%
}

.csu-card-name {
    font-size: 30px;
    margin-bottom: 5px;
    color: #009688;
}

.csu-card-post, .csu-card-type {
    font-size: 15px;
    margin-bottom: 5px;
    color: gray;
}

.csu-card-hover:hover {
    background-color: #009688;

}

.csu-card-hover:hover .csu-card-name, .csu-card-hover:hover .csu-card-post, .csu-card-hover:hover .csu-card-type {
    color: white;
}

.csu-detail fieldset{
    margin: 15px 0px;
    padding: 0px 30px;
}

.csu-page {
    text-align: center;
}

@media screen and (max-width: 992px) {
    .csu-header {
        background-position: center;
    }

    .csu-logo, .csu-nav-catalog {
        display: none;
    }

    .csu-catalog-button {
        display: inline;
    }

    .csu-iframe-body {
        margin: 15px 0px;
    }

    .csu-detail fieldset{
        margin: 15px 0px;
    }
}