<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>数据采集系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../static/css/_all-skins.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .data-table {
            padding:0px;
            margin: 0px;
            margin-left: 20%;
            color: black;
            font-weight: 400;
            text-align: center;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
            border-collapse: collapse;
        }
        .data-table td {
            border-left: 1px solid #000;
            border-top: 1px solid #000;
        }
        .data-table tr {
            height: 40px;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">
    <header class="main-header">
        <a href="#" class="logo">
            <span class="logo-mini"><b>DCS</b></span>
            <span class="logo-lg"><b>数据采集系统</b></span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="user user-menu">
                        <a href="login">退出登录</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    

    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../static/image/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>JetBamboo</p>
                    <i class="fa fa-circle text-primary"></i>
                    <small> 超级管理员</small>
                </div>
            </div>

            <!-- START: 菜单栏 -->
            <ul class="sidebar-menu" data-widget="tree">
                <li>
                    <a href="form_management" class="layout-side-item">
                      <i class="icon ion-ios-list" style="font-size: 16px;margin-right: 2px;"></i>
                      <span class="layout-side-item-label">表单管理</span>
                    </a>
                  </li>
                  <li>
                      <a href="user_management" class="layout-side-item">
                        <i class="icon ion-person" style="font-size: 16px; margin-right: 2px;"></i>
                        <span class="layout-side-item-label">用户管理</span>
                      </a>
                    </li>
            </ul>
            <!-- END: 菜单栏 -->
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>表单管理<small>Form Management</small></h1>
        </section>
        
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <center><h3 style="margin-top: 4px;margin-bottom: 8px;">表单一</h3></center>
                            <table class="data-table" width="60%" style="border-bottom: 0px solid #000;">
                                <tr>
                                    <td>数据表编号</td>
                                    <td colspan="2"></td>
                                    <td>装备型号</td>
                                    <td></td>
                                    <td>装备编号</td>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td>采集时间</td>
                                    <td colspan="2"></td>
                                    <td>采集地点</td>
                                    <td></td>
                                    <td>采集单位</td>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td>海拔</td>
                                    <td colspan="2"></td>
                                    <td>经纬度</td>
                                    <td colspan="4"></td>
                                </tr>
                                <tr>
                                    <td>地貌</td>
                                    <td colspan="7"></td>
                                </tr>
                                <tr>
                                    <td>河流</td>
                                    <td colspan="7"></td>
                                </tr>
                                <tr>
                                    <td>土质</td>
                                    <td colspan="7"></td>
                                </tr>
                                <tr>
                                    <td>植被</td>
                                    <td colspan="7"></td>
                                </tr>
                                <tr>
                                    <td>天气</td>
                                    <td colspan="7"></td>
                                </tr>
                                <tr>
                                    <td width="16%">气温</td>
                                    <td width="12%"></td>
                                    <td width="12%">气压</td>
                                    <td width="12%"></td>
                                    <td width="12%">风速</td>
                                    <td width="12%"></td>
                                    <td width="12%">风向</td>
                                    <td width="12%"></td>
                                </tr>
                                <tr>
                                    <td>能见度</td>
                                    <td colspan="5"></td>
                                    <td>湿度</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>操作人员姓名</td>
                                    <td colspan="2"></td>
                                    <td>军衔</td>
                                    <td colspan="2"></td>
                                    <td>职务</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>专业</td>
                                    <td colspan="2"></td>
                                    <td>从事本专业时间</td>
                                    <td colspan="2"></td>
                                    <td>技术等级</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>任务地域</td>
                                    <td colspan="3"></td>
                                    <td colspan="2">任务规模</td>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td>任务类型</td>
                                    <td colspan="7"></td>
                                </tr>
                                <tr>
                                    <td>装备自然情况</td>
                                    <td colspan="7"></td>
                                </tr>
                            </table>
                            <table class="data-table" width="60%" style="border-bottom: 0px solid #000;">
                                <tr>
                                    <td width="16%"><b>数据项名称</b></td>
                                    <td colspan="4"><b>数据记录内容</b></td>
                                </tr>
                                <tr>
                                    <td rowspan="8">通信效能数据</td>
                                    <td colspan="1">信道种类</td>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td colspan="1">开通时间</td>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td colspan="1">语音效果</td>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td colspan="1">传真效果</td>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td width="21%">报文传输成功率</td>
                                    <td width="21%"></td>
                                    <td width="21%">通信距离</td>
                                    <td width="21%"></td>
                                </tr>
                                <tr>
                                    <td colspan="1">抗干扰能力</td>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td colspan="1">误码率</td>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td width="21%">通信容量</td>
                                    <td width="21%"></td>
                                    <td width="21%">通信质量</td>
                                    <td width="21%"></td>
                                </tr>

                                <tr>
                                    <td rowspan="10">网络效能数据</td>
                                    <td>网络名称</td>
                                    <td></td>
                                    <td>保障对象</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>网络结构</td>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td>要求开通时间</td>
                                    <td></td>
                                    <td>实际开通时间</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>网络参数</td>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td>网络覆盖范围</td>
                                    <td></td>
                                    <td>网络模式</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>组网节点数</td>
                                    <td></td>
                                    <td>传输信息类型</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>最大传输时延</td>
                                    <td></td>
                                    <td>网络吞吐量</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>传输成功率</td>
                                    <td></td>
                                    <td>节点连通率</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>网络畅通率</td>
                                    <td></td>
                                    <td>网络联通度</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>网络抗毁性</td>
                                    <td colspan="3"></td>
                                </tr>
                            </table>
                            <table class="data-table" width="60%">
                                <tr>
                                    <td width="16%">采集人员</td>
                                    <td width="34%"></td>
                                    <td width="16%">审核人员</td>
                                    <td width="34%"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer class="main-footer">
        <div class="pull-right hidden-xs"><b>版本</b> 1.0.0</div>
        <strong>2018 &copy; 数据采集系统</strong>
    </footer>

</div>

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/adminlte.min.js"></script>
</body>
</html>