<!DOCTYPE html>
<html lang="cn"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/bar::commonHeader"></head>

<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    <!-- -->
    <div th:replace="commons/bar::topbar"></div>

    <!-- -->
    <div th:replace="commons/bar::sidebar"></div>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>修改研究员信息<small>Form Management</small></h1>
        </section>
        
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <form th:action="@{/server/saveStudent}" method="post">
                                <!--发送put请求-->
                                <!--1.SpringMVC配置HiddenHttpMethodFilter
                                    2.页面创建一个post表单
                                    3.创建一个 input name_method 值就是我们请求的方式-->
                                <input type="hidden" name="_method" value="put" th:if="${student!=null}">

                                <input type="hidden" name="rid" th:value="${student.rid}" th:if="${student!=null}">
                                <!--人员编号-->
                                <div class="form-group">
                                    <label for="aid">人员编号</label>
                                    <input type="text" class="form-control" id="aid"  name="aid" placeholder="编号" th:value="${student!=null}?${student.aid}">
                                </div>
                                <!--姓名-->
                                <div class="form-group">
                                    <label for="name">姓名</label>
                                    <input type="text" class="form-control" id="name"  name="name" placeholder="姓名" th:value="${student!=null}?${student.name}">
                                </div>
                                <!--职称-->
                                <div class="form-group">
                                    <label for="post">职称</label>
                                    <input type="text" class="form-control" id="post"  name="post" placeholder="职称" th:value="${student!=null}?${student.post}">
                                </div>
                                <!--头像-->
                                <div class="form-group">
                                    <label for="image">头像</label>
                                    <input type="text" class="form-control" id="image"  name="image" placeholder="头像" th:value="${student!=null}?${student.image}">
                                </div>
                                <!--研究方向-->
                                <div class="form-group">
                                    <label for="direction">研究方向</label>
                                    <input type="text" class="form-control" id="direction"  name="direction" placeholder="研究方向" th:value="${student!=null}?${student.direction}">
                                </div>
                                <!--人员类型-->
                                <div class="form-group">
                                    <label for="personType">人员类型</label>
                                    <input type="text" class="form-control" id="personType"  name="personType" placeholder="人员类型" th:value="${student!=null}?${student.personType}">
                                </div>
                                <!--&lt;!&ndash;所属导师&ndash;&gt;-->
                                <!--<div class="form-group">-->
                                    <!--<label for="affiliatedTutor">所属导师</label>-->
                                    <!--<input type="text" class="form-control" id="affiliatedTutor"  name="affiliatedTutor" placeholder="所属导师" th:value="${student!=null}?${student.affiliatedTutor}">-->
                                <!--</div>-->
                                <!-- department -->
                                <!--<div class="form-group">-->
                                    <!--<label >department</label>-->
                                    <!--<select class="form-control"  name="department.id" >-->
                                        <!--<option th:selected="${tutor!=null}?${dept.id == emp.department.id}" th:each="dept:${depts}" th:value="${dept.id}" th:text="${dept.departmentName}"></option>-->
                                    <!--</select>-->
                                <!--</div>-->

                                <!--导师简介-->
                                <div class="form-group">
                                    <label for="introduction">学生简介</label>
                                    <input type="text" class="form-control" id="introduction" placeholder="学生简介" name="introduction" th:value="${student!=null}?${student.introduction}">
                                </div>
                                <button type="submit" class="btn btn-primary" th:text="${student!=null}?'修改':'添加'">添 加</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- 引入footer -->
    <div th:replace="commons/bar::footer"></div>

</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/adminlte.min.js"></script>
</body>
</html>