<!DOCTYPE html>

<html lang="cn"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/bar::commonHeader"></head>

<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    <!-- -->
    <div th:replace="commons/bar::topbar"></div>

    <!-- -->
    <div th:replace="commons/bar::sidebar"></div>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>表单管理<small>Form Management</small></h1>
           
        </section>
        
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <input type="text" class="form-control" id="text-name" placeholder="用户昵称">
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <input type="text" class="form-control" id="text-openId" placeholder="用户openId">
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="form-group pull-right">
                                        <a href="#" th:href="@{/server/Thesis}" class="btn btn-primary" id="btn-add">添加</a>
                                        <a href="#" class="btn btn-primary" id="btn-search">搜索</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th width="10%">#</th>
                                              <th width="10%">题目</th>
                                              <th width="10%">摘要</th>
                                              <th width="10%">关键字</th>
                                              <th width="10%">论文内容</th>
                                              <th width="10%">论文代码</th>
                                              <th width="10%">论文数据</th>
                                              <th width="10%">发表时间</th>
                                              <th width="20%">操作</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr th:each="thesis:${thesisList}">
                                                <td th:text="${thesis.tid}"></td>
                                                <td th:text="${thesis.name}"></td>
                                                <td th:text="${thesis.abstracts}"></td>
                                                <td th:text="${thesis.keywords}"></td>
                                                <td th:text="${thesis.content}"></td>
                                                <td th:text="${thesis.code}"></td>
                                                <td th:text="${thesis.data}"></td>
                                                <td th:text="${#dates.format(thesis.time,'yyyy-MM-dd')}"></td>
                                                <td>
                                                    <a href="#" th:href="@{/server/thsis/}+${thesis.tid}" class="layout-btn btn-primary">修改</a>
                                                    <!--<a href="#" th:href="@{/server/tutor/}+${researcher.rid}" lass="layout-btn btn-danger">删除</a>-->
                                                    <a th:attr="del_uri=@{/server/thesis/}+${thesis.tid}"  class="layout-btn btn-danger deleteBtn">删除</a>
                                                </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li>
                                    <a th:if="${not isFirstPage}" th:href="@{${'thesisList'}(pageNum=${pageNum-1},pageSize=${pageSize})}" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                    <a th:if="${isFirstPage}" href="javascript:void(0);" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>

                                <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
                                    <a th:if="${pageNum eq pageNo}" href="javascript:void(0);">
                                        <span th:text="${pageNo}"></span>
                                    </a>

                                    <a th:if="${not (pageNum eq pageNo)}" th:href="@{${'thesisList'}(pageNum=${pageNo},pageSize=${pageSize})}">
                                        <span th:text="${pageNo}"></span>
                                    </a>
                                </li>

                                <li>
                                    <a th:if="${not isLastPage}" th:href="@{${'thesisList'}(pageNum=${pageNum+1},pageSize=${pageSize})}" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                    <a th:if="${isLastPage}" href="javascript:void(0);" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- 引入footer -->
    <div th:replace="commons/bar::footer"></div>

</div>

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/adminlte.min.js"></script>
</body>
</html>