<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>导师列表</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/csu-style.css">
</head>

<body class="csu-iframe-body">
<fieldset class="layui-elem-field" id="introduction">
    <legend class="csu-color-theme"><b>导师列表</b></legend>
    <div class="layui-field-box">

        <div class="layui-row layui-col-space15">

            <div class="layui-col-lg2 layui-col-sm3 layui-col-xs6">
                <!--只给第一个card添加了a href跳转链接用于测试，其它的card同样按这个来-->
                <a href="tutor.html">
                    <div class="csu-card csu-card-hover">
                        <img class="csu-card-img" src="../../static/img/test/photo.png">
                        <div class="csu-card-name">肖途</div>
                        <div class="csu-card-post">胡峰</div>
                        <div class="csu-card-type">中共地下党</div>
                    </div>
                </a>
            </div>

            <div class="layui-col-lg2 layui-col-sm3 layui-col-xs6">
                <div class="csu-card csu-card-hover">
                    <img class="csu-card-img" src="../../static/img/test/photo1.png">
                    <div class="csu-card-name">庄晓曼</div>
                    <div class="csu-card-post">飞鹰</div>
                    <div class="csu-card-type">军统特务</div>
                </div>
            </div>

            <div class="layui-col-lg2 layui-col-sm3 layui-col-xs6">
                <div class="csu-card csu-card-hover">
                    <img class="csu-card-img" src="../../static/img/test/photo2.png">
                    <div class="csu-card-name">方敏</div>
                    <div class="csu-card-post">第三号</div>
                    <div class="csu-card-type">中共地下党</div>
                </div>
            </div>
            <div class="layui-col-lg2 layui-col-sm3 layui-col-xs6">
                <div class="csu-card csu-card-hover">
                    <img class="csu-card-img" src="../../static/img/test/photo3.png">
                    <div class="csu-card-name">武藤纯子</div>
                    <div class="csu-card-post">作家</div>
                    <div class="csu-card-type">日本左派</div>
                </div>
            </div>
            <div class="layui-col-lg2 layui-col-sm3 layui-col-xs6">
                <div class="csu-card csu-card-hover">
                    <img class="csu-card-img" src="../../static/img/test/photo4.png">
                    <div class="csu-card-name">陆望舒</div>
                    <div class="csu-card-post">夜莺</div>
                    <div class="csu-card-type">中共地下党</div>
                </div>
            </div>

            <div class="layui-col-lg2 layui-col-sm3 layui-col-xs6">
                <div class="csu-card csu-card-hover">
                    <img class="csu-card-img" src="../../static/img/test/photo5.png">
                    <div class="csu-card-name">顾君如</div>
                    <div class="csu-card-post">小学妹</div>
                    <div class="csu-card-type">汪伪特务</div>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<div class="csu-page" id="csu-page"></div>

<!--这是layui的脚本-->
<script src="../../static/layui/layui.js"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="../../static/js/layui/html5.min.js"></script>
<script src="../../static/js/layui/respond.min.js"></script>
<![endif]-->

<!--这是iframeResizer的脚本-->
<script src="../../static/js/iframe-resizer/iframeResizer.contentWindow.min.js"></script>

<!--这是自己设定的一些脚本-->
<script>
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'csu-page'
            , count: 35
            , limit: 10
            // ,curr:2
            , jump: function (obj, first) {
                //obj包含了当前分页的所有参数，比如：
                console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                console.log(obj.limit); //得到每页显示的条数

                //首次不执行
                if (!first) {
                    //do something
                }
            }
        });
    });
</script>

</body>

</html>