<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csu.lab.mapper.ThesisMapper">
  <resultMap id="BaseResultMap" type="com.csu.lab.pojo.Thesis">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="abstracts" jdbcType="VARCHAR" property="abstracts" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="data" jdbcType="VARCHAR" property="data" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
</mapper>