<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/csu-style.css">
</head>
<body class="csu-iframe-body">
<fieldset class="layui-elem-field">
    <legend class="csu-color-theme"><b>项目名称</b></legend>
    <div class="layui-field-box">

        <fieldset class="layui-elem-field">
            <legend class="csu-color-theme">项目摘要</legend>
            <div class="layui-field-box">
                摘要区域
            </div>
        </fieldset>


        <fieldset class="layui-elem-field">
            <legend class="csu-color-theme">项目简介</legend>
            <div class="layui-field-box">
                简介区域
            </div>
        </fieldset>

        <fieldset class="layui-elem-field">
            <legend class="csu-color-theme">项目视频</legend>
            <div class="layui-field-box">
                <video src="http://www.w3school.com.cn/i/movie.ogg" controls="controls">
                    your browser does not support the video tag
                </video>
            </div>
        </fieldset>

        <fieldset class="layui-elem-field">
            <legend class="csu-color-theme">项目下载</legend>
            <div class="layui-field-box">
                <a>项目下载区域</a>
            </div>
        </fieldset>
    </div>

</fieldset>
<hr>

<!--这是iframeResizer的脚本-->
<script src="../../static/js/iframe-resizer/iframeResizer.contentWindow.min.js"></script>

<!--这是layui的脚本-->
<script src="../../static/layui/layui.js"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="../../static/js/layui/html5.min.js"></script>
<script src="../../static/js/layui/respond.min.js"></script>
<![endif]-->


</body>
</html>