<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/csu-style.css">
</head>
<body class="csu-iframe-body">
<fieldset class="layui-elem-field">
    <legend class="csu-color-theme"><b>项目名称</b></legend>
    <div class="layui-field-box">

        <fieldset class="layui-elem-field">
            <legend class="csu-color-theme">项目摘要</legend>
            <div class="layui-field-box">
                摘要区域
            </div>
        </fieldset>


        <fieldset class="layui-elem-field">
            <legend class="csu-color-theme">项目简介</legend>
            <div class="layui-field-box">
                简介区域
            </div>
        </fieldset>

        <fieldset class="layui-elem-field">
            <legend class="csu-color-theme">项目视频</legend>
            <div class="layui-field-box">
                <video src="http://www.w3school.com.cn/i/movie.ogg" controls="controls">
                    your browser does not support the video tag
                </video>
            </div>
        </fieldset>

        <fieldset class="layui-elem-field csu-card-tutor">
            <legend class="csu-color-theme">参与人员</legend>
            <div class="layui-field-box">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md3 layui-col-sm6 layui-col-xs6">
                        <a href="../student/student.html">
                            <div class="csu-card csu-card-hover">
                                <img class="csu-card-img" src="../../static/img/test/photo1.png">
                                <div class="csu-card-name">庄晓曼</div>
                                <div class="csu-card-post">飞鹰</div>
                                <div class="csu-card-type">军统特务</div>
                            </div>
                        </a>
                    </div>

                    <div class="layui-col-md3 layui-col-sm6 layui-col-xs6">
                        <a href="../student/student.html">
                            <div class="csu-card csu-card-hover">
                                <img class="csu-card-img" src="../../static/img/test/photo2.png">
                                <div class="csu-card-name">方敏</div>
                                <div class="csu-card-post">第三号</div>
                                <div class="csu-card-type">中共地下党</div>
                            </div>
                        </a>
                    </div>

                    <div class="layui-col-md3 layui-col-sm6 layui-col-xs6">
                        <a href="../student/student.html">
                            <div class="csu-card csu-card-hover">
                                <img class="csu-card-img" src="../../static/img/test/photo3.png">
                                <div class="csu-card-name">武藤纯子</div>
                                <div class="csu-card-post">作家</div>
                                <div class="csu-card-type">日本左派</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="layui-elem-field">
            <legend class="csu-color-theme">项目下载</legend>
            <div class="layui-field-box">
                <a>项目下载区域</a>
            </div>
        </fieldset>
    </div>

</fieldset>
<hr>

<!--这是iframeResizer的脚本-->
<script src="../../static/js/iframe-resizer/iframeResizer.contentWindow.min.js"></script>

<!--这是layui的脚本-->
<script src="../../static/layui/layui.js"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="../../static/js/layui/html5.min.js"></script>
<script src="../../static/js/layui/respond.min.js"></script>
<![endif]-->


</body>
</html>